<div class="auth change-password">
  <div [@fadeInOnEnter]="" class="auth__wrapper">
    <div class="auth__wrapper-inner">
      <div class="auth__form-wrap">
        <form autocomplete="off" [formGroup]="changeForm" (ngSubmit)="submitEmail()">
          <div class="auth__logo">
            <img [ngSrc]="logoImage" alt="logo" width="30" height="30">
            <h4>OSPLANE</h4>
          </div>

          <div class="auth__heading">
            <h2>Change Password</h2>
            <h6>Please enter your new password to change</h6>
          </div>

          <div class="auth__form">
            <app-input-outline formControlName="password" type="password" label="New password"></app-input-outline>
            <app-input-outline formControlName="confirmPassword" type="password" label="Confirm password"></app-input-outline>
            <app-button
              label="Change Password"
              typeButton="submit"
              [isDisabled]="!isValid || (isLoading | async)"
              [isLoading]="isLoading | async"
            ></app-button>
          </div>
        </form>
      </div>

      <div class="auth__image">
        <img [src]="planeImage" alt="plane">
      </div>
    </div>
  </div>
  <app-background-wave></app-background-wave>
</div>
