<header>
  <div class="header__logo" [routerLink]="TripsNavigate">
    <img [ngSrc]="logoImage" alt="logo" width="30" height="30">
    <p>OSPLANE</p>
  </div>
  <div *ngIf="isShowElement" class="header__search">
    <div class="header__search-icon" (click)="handleActiveSearch()">
      <app-svg-icon [name]="searchSvg" classes="sm white"></app-svg-icon>
    </div>
    <input [formControl]="searchControl" type="text" class="header__search-input" [class.header__search-active]="isActive" placeholder="Search...">
  </div>
  <div class="header__menu">
      <div class="header__wrapper">
        <p>Osplane your home</p>
        <div *ngIf="isShowElement" class="header__add" (click)="handleOpen()">
          <app-svg-icon [name]="plusSvg" classes="white"></app-svg-icon>
        </div>
      </div>

      <app-dropdown [options]="options">
        <div class="header__menu-wrapper">
          <span *ngIf="user">{{ user.name }}</span>
          <app-user-avatar [user]="user" [isLoading]="isLoading!"></app-user-avatar>
        </div>
      </app-dropdown>
  </div>
</header>
