<div class="started">
  <div class="started__backdrop">
    <div class="started__wrapper">
      <div class="started__header">
        <div class="started__logo">
          <img [ngSrc]="logoImage" alt="logo" width="30" height="30">
          <p>OSPLANE</p>
        </div>
        <div class="started__auth">
          <button class="started__button" [routerLink]="AuthNavigateEnum.Login">Sign In</button>
          <button class="started__button started__button-outline" [routerLink]="AuthNavigateEnum.Register">Sign Up</button>
        </div>
      </div>
      <div class="started__main">
        <div class="started__info">
          <div class="started__title">YOUR MAP<br/>YOUR TRAVEL</div>
          <button class="started__button started__button-start" [routerLink]="AuthNavigateEnum.Login">
            <img [ngSrc]="logoImage" alt="logo" width="20" height="20">
            <p>Get Started</p>
          </button>
          <p class="started__description">Discover effortless air travel with our user-friendly website. Explore destinations, compare prices, and book your journey in just a few clicks. Enjoy a seamless experience from takeoff to touchdown. Fly with ease – your next adventure awaits!</p>

          <div class="started__prompt">
            <div class="started__arrow">
              <img [ngSrc]="arrowImage" alt="arrow" width="25" height="25">
            </div>
            <p>CLICK TO START</p>
          </div>
        </div>
        <app-earth-three />
      </div>
    </div>
  </div>
</div>
