.btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 8px 12px;
  transition: 0.3s;

  &:hover {
    background-color: #8371fd;
  }

  &:disabled {
    cursor: default;
    background-color: #b0afaf;

    &:hover {
      background-color: #b0afaf;
    }
  }


  &.outline {
    background: transparent;
    border: 2px solid #151111;
    color: #151111;

    &:hover {
      color: #8371fd;
      border-color: #8371fd;
    }
  }
}
