<div class="auth change-password">
  <div class="auth__wrapper">
    <div class="auth__wrapper-inner">
      <div class="auth__form-wrap">
        <form autocomplete="off" [formGroup]="forgotForm" (ngSubmit)="submitEmail()">
          <div class="auth__logo">
            <img [ngSrc]="logoImage" alt="logo" width="30" height="30">
            <h4>OSPLANE</h4>
          </div>

          <div class="auth__heading">
            <h2>Forgot Password?</h2>
            <h6>Please enter your email address to receive a letter</h6>
          </div>

          <div class="auth__form">
            <app-input-outline formControlName="email" type="text" label="Email"></app-input-outline>
            <app-button
              label="Send email"
              typeButton="submit"
              [isDisabled]="!isValid || (isLoading | async)"
              [isLoading]="isLoading | async"
            ></app-button>
          </div>
        </form>
      </div>

      <div class="auth__image">
        <img [src]="planeImage" alt="plane">
      </div>
    </div>
  </div>
  <app-background-wave></app-background-wave>
</div>
