<div ngbDropdown>
  <div ngbDropdownToggle id="dropdown">
    <ng-content></ng-content>
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdown">
    <button
      class="option"
      ngbDropdownItem
      *ngFor="let option of options"
      [class.danger]="option.class === 'logout'"
      (click)="option.onClick()"
      [ngClass]="option.class"
    >
      <app-svg-icon *ngIf="option.svgIcon" [classes]="{ 'xs': true, 'red': option.class === 'logout'}" [name]="option.svgIcon"></app-svg-icon>
      {{ option.title }}
    </button>
  </div>
</div>
