.option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-toggle {
  cursor: pointer;

  &::after {
    display: none;
  }
}

.danger {
  color: red;
}

.dropdown-menu.show {
  padding: 0;

  .dropdown-item {
    padding: 12px 20px;
    min-width: 200px;
    font-size: 16px;
  }
}
