span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.xs svg {
  width: 20px;
  height: 20px;
}

.sm svg {
  width: 25px;
  height: 25px;
}

.white {
  svg { fill: white }
  path { fill: white }
}

.red {
  path { stroke: red }
}
