/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.toast__wrapper {
  &.success {
    .toast__line {
      background-color: #00B743;
    }

    .toast__circle {
      background-image: url("/assets/images/toast/check-circle.svg");
    }
  }

  &.error {
    .toast__line {
      background-color: #FC512A;
    }

    .toast__circle {
      background-image: url("/assets/images/toast/ban.svg");
    }
  }
}
