.upload__container {
  border: 2px dashed lightgray;
  border-radius: 20px;
  margin: 10px 0 15px;
  padding: 50px;
  width: 100%;
  text-align: center;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h3 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
  }

  p {
    margin-top: 12px;
  }

  label {
    color: #8371fd;
    text-decoration: underline;
    cursor: pointer;
  }
}

.file {
  &__over {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  &__error {
    border-color: red;
  }
}


/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
